name: examples-test

# Author: @MikeRalphson / runs @jdesrosiers tests
# Issue: https://github.com/OAI/OpenAPI-Specification/pull/2489

#
# This workflow runs the npm test script to validate passing and failing
# testcases for the metaschema.
#

# run this on push to any branch and creation of pull-requests
on: 
  push:
    paths:
      - 'examples/**'
      - 'tests/**'
  pull_request:
    paths:
      - 'examples/**'
      - 'tests/**'
  workflow_dispatch: {}

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 # checkout repo content
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4 # setup Node.js
      with:
        node-version: '20.x'
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm test

